{% extends "base" %}

{% block vars %}
    {% set category = "home" %}
    {% set page = "" %}
{% endblock vars%}

{% block title %}Home{% endblock title %}

{% block content %}
<p>Hello world!</p>
{% endblock content %}